.btn-send {
  top: 25px;
  height: 5.2rem;
  width: 4.5rem;
}

.comment-box {
  background-color: white;
  margin-top: 21px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.btn-delete {
  top: 2rem;
}
